.STFormatMain {
  display: flex;
  width: 1200px;
  flex-wrap: wrap;
  margin: auto;
  padding-top: 130px;
}
.STFormatCard {
  width: 350px;
  margin: 15px 20px;
  position: relative;
}
.STFormat {
  position: relative;
  overflow: hidden;
  width: 350px;
  height: 400px;
}
.STFormat img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 400px;
  object-fit: cover;
  width: 350px;
}
.STFormatInfo {
  width: 350px;
  padding: 15px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.sideB {
  display: flex;
  align-items: center;
}
.STFormatButtons button {
  width: 210px;
  height: 50px;
  border: none;
  background-color: #f21137;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}
.STFormatButtons button:disabled {
  opacity: 0.5;
}

input[type='checkbox'] {
  cursor: pointer;
}
input:disabled {
cursor: default;
}

.STFormatPrice {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-weight: 700;
  font-size: 20px;
}