.bilboardMain {
  background-color: bisque;
  margin: auto;
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
}

.box {
  position: relative;
  overflow:hidden;
  width:350px;
  height:400px;
}
.sides {
  display: flex;
  justify-content: space-between;
}
.sideA {
  display: flex;
  justify-content: space-between;
}
.sideB {
  display: flex;
  justify-content: space-between;
}
input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}
.billboardCard {
  border: 2px solid black;
  margin:20px 20px;
}
.box img {
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:350px;
  height:400px;
  object-fit:cover;
}