header {
  width: 100%;
  height: 120px;
  padding: 25px 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  position: fixed;
  z-index: 1000;
}

.fixed {
  position: fixed;
  background-color: rgb(255, 255, 255);
  height: 100px;
  transition: 0.6s;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.logoImage {
  width: 230px;
}

nav {
  position: relative;
  width: 160px;
  display: flex;
  justify-content: space-between;
  margin-left: 700px;
  cursor: pointer;
}

.cartIcon {
  width: 40px;
  height: 40px;
  margin-right: 20px;
  cursor: pointer;
}
.signInBtn {
  width: 130px;
  height: 40px;
  border: none;
  background-color: #f21137;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}
.modal {
  position: absolute;
  top: 40px;
  left:20px;
  border-radius: 5px;
  padding: 10px;
  width: 350px;
  z-index: 1;
  border: 2px solid black;
}
.modal p {
  color: black;
  border-bottom: 1px solid black;
}
