header {
  width: 100%;
  padding: 25px 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.logoImage {
  width: 230px;
}

nav {
  width: 160px;
  display: flex;
  justify-content: space-between;
  margin-left: 700px;
  cursor: pointer;
}

.cartIcon {
  width: 40px;
  height: 40px;
  margin-right: 20px;
  cursor: pointer;
}

.signInBtn {
  width: 130px;
  height: 40px;
  border: none;
  background-color: #F21137;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}