@font-face {
  font-family: Gilroy-Bold;
  src: url('../assets/gilroy/Gilroy-Bold.ttf');
}

@font-face {
  font-family: Gilroy;
  src: url('../assets/gilroy/Gilroy-Regular.ttf');
}

@font-face {
  font-family: Gilroy-Italic;
  src: url('../assets/gilroy/Gilroy-RegularItalic.ttf');
}

@font-face {
  font-family: Cimero;
  src: url('../assets/Cimero/CimeroPro.otf');
}

@font-face {
  font-family: Bebas;
  src: url('../assets/Cimero/ofont.ru_Bebas\ Neue.ttf');
}

/* #F21137
 #68020F */

* {
  box-sizing: border-box;
  font-family: 'Gilroy';
  margin: 0;
  font-size: 18px;
}

html,
body,
#root {
  height: 100%;
}

